/* AGENDA */

.agenda_titulo {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-family: var(--Fonte_-_Titulos);
    font-size: 20px;
}

.agenda_lista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agenda_oculto{
    display: none;
}

.agenda_item {
    background-color: var(--Cor_-_Cinza_claro);
    display: grid;
    width: 100%;
    flex-grow: 1;
    max-width: 400px;
    max-height: 350px;
    grid-template-areas:
        "imagem imagem"
        "informacoes atracao"
        "informacoes atracao";
}

.agenda_item img,
.agenda_oculto img {
    width: 100%;
    grid-area: imagem;
}

.agenda_informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--Fonte_-_Titulos);
    color: var(--Cor_-_Branco);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--Cor_-_Cinza_escuro); 
    grid-area: informacoes;
    min-width: 150px;
    min-height: 131px;
}

.agenda_informacoes h3 {
    font-size: 2rem;
}

.agenda_informacoes h4,
.agenda_informacoes h5 {
    font-size: 1.5rem;
}

.agenda_atracao {
    text-align: center;
    padding: 1rem;
    grid-area: atracao
}

.agenda_atracao h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.agenda_atracao button {
    outline: none;
    border: none;
    background-color: var(--Cor_-_Preto);
    color: var(--Cor_-_Branco);
    padding: .5rem 0;
    width: 125px;
    cursor: pointer;
    transition: .5s;
}

.agenda_botao{
    display: flex;
    justify-content: center;
}

.agenda_botao button:hover,
.agenda_atracao button:hover{
    background-color: var(--Cor_-_Amarelo);
}

.agenda_botao button{
    outline: none;
    border: none;
    background-color: var(--Cor_-_Preto);
    color: var(--Cor_-_Branco);
    padding: 0.75rem 0;
    width: 148px;
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (min-width: 720px){
    .agenda_lista{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
        justify-content: end;
    }

    .agenda_item{
        width: 307px;
    }
}

@media screen and (min-width: 1440px){
    .agenda_titulo{
        margin-top: 0;
    }

    .agenda_lista{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .agenda_item{
        width: 100%;
        flex-grow: 1;
        max-width: 400px;
        max-height: 350px;
    }

    .agenda_oculto{
        background-color: var(--Cor_-_Cinza_claro);
        display: grid;
        width: 100%;
        flex-grow: 1;
        max-width: 400px;
        max-height: 350px;
        grid-template-areas:
            "imagem imagem"
            "informacoes atracao"
            "informacoes atracao";
    }

    .agenda_oculto button {
        outline: none;
        border: none;
        background-color: var(--Cor_-_Preto);
        color: var(--Cor_-_Branco);
        padding: .5rem 0;
        width: 125px;
        cursor: pointer;
        transition: .5s;
    }

    .agenda_botao{
        grid-column: 3/4;
        justify-content: end;
    }
}
