/* EVENTOS */

.eventos_titulo{
    font-family: var(--Fonte_-_Titulos);
    font-size: 20px;
    margin-bottom: 1rem;
}

.eventos_lista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.eventos_oculto{
    display: none;
}

.eventos_item{
    background-color: var(--Cor_-_Cinza_claro);
    width: 100%;
    min-height: 318px;  
    display: grid;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    max-height: 350px;
    grid-template-areas:
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2 1fr) auto;
}

.eventos_item img,
.eventos_oculto img{
    margin-top: 0;
    width: 100%;
    height: 100%;
    grid-area: imagem;
}

.eventos_item h3,
.eventos_oculto h3{
    font-size: 18px;
    font-weight: 600;
    grid-area: nome;
}

.eventos_item h4,
.eventos_oculto h4{
    grid-area: data;
}

.eventos_item h5
.eventos_oculto h5{
    grid-area: local;
}

.eventos_item h3, .eventos_oculto h3,
.eventos_item h4, .eventos_oculto h4,
.eventos_item h5, .eventos_oculto h5{
    padding-left: 1rem;
}

.eventos_item button,
.eventos_oculto button{
    outline: none;
    border: none;
    background-color: var(--Cor_-_Preto);
    color: var(--Cor_-_Branco);
    text-align: center;
    padding: 0.5rem 0;
    width: 80px;
    cursor: pointer;
    transition: 0.5s;
    grid-area: botao;
    margin-right: 1rem;
}

.eventos_botao button:hover,
.eventos_item button:hover{
    background-color: var(--Cor_-_Amarelo);
}

.eventos_botao{
    display: flex;
    justify-content: center;
}

.eventos_botao button{
    outline: none;
    border: none;
    background-color: var(--Cor_-_Preto);
    color: var(--Cor_-_Branco);
    padding: 0.75rem 0;
    width: 148px;
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (min-width: 720px){
    .eventos_lista{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
        justify-content: end;
    }

    .eventos_item{
        width: 307px;
    }
}

@media screen and (min-width: 1440px){
    .eventos_titulo{
        margin: 1rem 0;
    }
    
    .eventos_lista{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .eventos_item, .eventos_oculto{
        width: 282px;
    }

    .eventos_oculto{
        background-color: var(--Cor_-_Cinza_claro);
        width: 100%;
        min-height: 318px;  
        display: grid;
        align-items: center;
        flex-grow: 1;
        max-height: 350px;
        grid-template-areas:
            "imagem imagem"
            "nome nome"
            "data data"
            "local botao";
        grid-template-columns: 1fr auto;
        grid-template-rows: auto repeat(2 1fr) auto;
    }

    .eventos_botao{
        grid-column: 4/5;
        justify-content: end;
    }
}
