/*IMPORTAÇÃO DOS OUTROS ARQUIVOS CSS QUE COMPÕEM O PROJETO*/
@import url("reset.css");
@import url("header_styles.css");
@import url("banners_styles.css");
@import url("categorias_styles.css");
@import url("eventos_styles.css");
@import url("agenda_styles.css");

/*DADOS BASE*/
:root{
    /*CORES*/
    --Cor_-_Preto: #000000;
    --Cor_-_Branco: #FFFFFF;
    --Cor_-_Cinza_claro: #C2C2C2;
    --Cor_-_Cinza_escuro: #959595;
    --Cor_-_Amarelo: #FFC756;
    --Cor_-_Verde: #56B78C;
    --Cor_-_Azul: #7F8FFE;
    --Cor_-_Vermelho: #FE652B;
    /*FONTES*/
    --Fonte_-_Titulos: 'Fjalla One', sans-serif;
    --Fonte_-_Textos: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    font-family: var(--Fonte_-_Textos);
    font-size: 16px;
    font-weight: 400;
    color: var(--Cor_-_Preto);
    height: 100vh;
}

main{
    margin: 0 1.5em;
}

@media screen and (min-width: 720px){
    main{
        margin: 0 2.5em;
    }
}

@media screen and (min-width: 1440px){
    main{
        margin: 0 7.5em;
    }
}
